* {
    background-color: #CFD3EC;
    margin-block: 10px;
}

.page-title {
    font-size: 450%; 
    font-family: chalkduster;
    line-height: 0.7;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-weight: 900;
    padding: 20px;
    margin: 30px;
}

p {
   text-align: center;
   line-height: 1.5;
   padding: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 150%;
   font-family: chalkduster;

}

form {
  text-align:center;
}
  
.btn {
    background-color: blueviolet;
    font-family: Comic Sans MS, Comic Sans, cursive;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}

.btn:hover {
    opacity: 1
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}

h2 {
    font-size: 400%; 
    font-family: chalkduster;
    line-height: .1;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-weight: 450;
    padding: 20px;
    margin: 30px;
}

section {
  text-align:center;
}